.headroom-wrapper {
  background-color: black;
  padding-bottom: 50px;

  .navbar {
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    .navbar__link--wrapper {
      display: inline-block;
      padding-left: 40px;
      padding-top: 15px;

      .navbar__link {
        text-decoration: none;
        color: white;
        font-size: 20px;

        &:hover {
          color: rgb(85, 186, 250);
        }
      }
    }
  }
}
