body {
  background-color: rgb(249, 240, 247);
}
.page--projects {
  position: absolute;
  width: 100%;
  height: 92.5vh;
  //height: 100vh for when we add another page

  .projects-title {
    position: absolute;
    color: white;
    z-index: 5;
  }

  .project-description-container {
    width: 25%;
    height: 92.9vh;
    background-color: white;
    border-right: 1px solid #999;
    border-radius: 3px;
    position: absolute;

    .twitbit-title {
      font-family: Hind;
      font-size: 40px;
      left: 3%;
    }

    .twitbit-description {
      left: 3%;
      width: 96%;
    }

    .twitbit-link {
      left: 3%;
      font-family: Hind;
      text-decoration: none;
      color: black;
      //color: rgb(107, 192, 240);

      &:hover {
        color: rgb(107, 192, 240);
        cursor: pointer;
      }
    }
  }

  .pics-container {
    width: 75%;
    left: 25%;

    .twitbit-pic {
      position: absolute;
      width: 30%;

      &:hover {
        border: 5px solid rgb(35, 178, 249);
      }
    }

    .home {
      left: 13.3333%;
      margin-top: 3%;
    }

    .score {
      left: 56.6666%;
      margin-top: 3%;
    }

    .maps {
      left: 13.3333%;
      margin-top: 30%;
    }

    .history {
      left: 56.6666%;
      margin-top: 30%;
    }
  }
  /*
  .ubeareats-page {
    position: absolute;
    height: 100%;
    top: 100%;
    width: 100%;
    background-color: rgb(198, 205, 255);
  }
  */
}
